body {
    background-color: #707070;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height:100%;
    width:100%;
    background: linear-gradient(to bottom, #999999, #3c3b3b);
        height: 100vh;
        margin: 0;
        padding: 0;
        background-attachment: fixed;
  }
  
  
header { background-color: black;
  align-items: center;
  padding:5px;
  display:flex;
  
}

h1{
  font-size:280%;
  color:#8f7eae;


}

header img {
  height: 40px;
}

nav ul {
  display:flex;
  align-content: left;
  list-style: none;
  padding: 20px;
  
}
nav li {
  margin-right: 20px;
  font-family: 'Montserrat', sans-serif;
  align-content: center;
  
}



@font-face {
  font-family: 'Montserrat';
  src: url('Fonts/Montserrat.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

nav li a 
{
  text-decoration:none;
  color:#707070;
  font-size:150%;
}

nav a:hover
{
  color:#8f7eae


}

.download-button {
  float:left;
  padding: 20px 40px;
  border-radius: 8px;
  background-color: #8f7eae;
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  margin: 0 20px;
  text-align: center;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  
}

.downloadMain a:hover
{
  color:black;
}
.downloadMain
{
  margin-left:30%;
  margin-top:10.5%;
}

.downloadMain p
{margin-left: 9%;
  font-family: 'Montserrat', sans-serif;
  font-size:200%;
}

p{
  font-family: 'Montserrat', sans-serif;
  color:#8f7eae
}

.empty-space {
  height: 50%;
  margin-top:2%;
  margin-left:2%;
  color: #33094d;

}

.empty-space h2 {
  text-align: center;
}