body {
    background-color: #aeabab;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height:100%;
    width:100%;
    background: linear-gradient(to bottom, #ffffff, #8f7eae); 
    
        height: 100vh;
        margin: 0;
        padding: 0;
        background-attachment: fixed;
  }
  
  
header { 
  backdrop-filter:blur(10px);
  -webkit-backdrop-filter:blur(20px);
  
  box-shadow:0 8px 12px rgba(0,0,0,0.2);
  align-items: center;
  padding:10px;
  display:flex;
  transform:translateY(10px);
  margin-left: 10px;
  
  border-radius: 20px;
  border-collapse: separate; 
  
 
  
}




  

h1{
  font-size:280%;
  color:#8f7eae;


}

header img {
  height: 40px;
}

nav ul {
  display:flex;
  align-content: left;
  list-style: none;
  padding: 20px;
  
}
nav li {
  margin-right: 20px;
  font-family: 'Montserrat', sans-serif;
  align-content: center;
  
}



@font-face {
  font-family: 'Montserrat';
  src: url('Fonts/Montserrat.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

nav li a 
{
  text-decoration:none;
  color:#707070;
  font-size:150%;
}

nav a:hover
{
  color:#8f7eae


}

.download-button {
  float:left;
  padding: 20px 40px;
  border-radius: 8px;
  background-color: #8f7eae;
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  margin: 0 20px;
  text-align: center;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  
}

.downloadMain a:hover
{
  color:black;
}
.downloadMain
{
  margin-left:32.5%;
  margin-top:10.5%;
}

.downloadMain p
{margin-left: 9%;
  font-family: 'Montserrat', sans-serif;
  font-size:200%;
  color:#33094d;
}

p{
  font-family: 'Montserrat', sans-serif;
  color:#8f7eae
}

.empty-space {
  height: 50%;
  margin-top:2%;
  
  color: #33094d;

}





.empty-space h2 {
  text-align: center;
}


body {zoom: 75%;}

 /* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float:left;
  width: 33%;
  padding: 2px;
  
  
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
  width:100%;
  margin:2%;
}

header {
  position:fixed;
  width: 98.5%;
  margin-top:0px;
  top:0;
}

html {
  margin-top:7.5%
}

.firstimpression {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top:20%;
  height:100vh;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:auto;
  margin-top: -5%;
}



.container {
  width: 400px;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
}

.center {
  width: 180px;
  height: 60px;
  position: absolute;
}

.btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #8f7eae;
  outline: none;
  transition: 1s ease-in-out;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn:hover {
  transition: 1s ease-in-out;
  background: #33094d;
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.btn span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}


.toDownloadPage {
  zoom: 150%;
}


.logoButton {
  
  
}